{{- if and .Values.database.postgres.enabled (not .Values.database.postgres.auth.existingSecret) }}
{{- $fullName := include "warden.fullname" . -}}
{{- $password := .Values.database.postgres.auth.password -}}
{{- if not $password -}}
  {{- fail "database.postgres.auth.password is required when database.postgres.enabled=true and no existingSecret is provided" -}}
{{- end -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullName }}-postgresql
  labels:
    {{- include "warden.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
data:
  password: {{ $password | b64enc }}
  db-url: {{ printf "postgres://%s:%s@%s-postgresql:%v/%s?sslmode=disable" .Values.database.postgres.auth.username $password $fullName (int .Values.database.postgres.service.port) .Values.database.postgres.auth.database | b64enc }}
{{- end }}
