{{- if and .Values.database.postgres.enabled (not .Values.database.postgres.auth.existingSecret) }}
{{- $fullName := include "warden.fullname" . -}}
{{- $secretName := printf "%s-postgresql" $fullName -}}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace $secretName -}}
{{- $password := "" -}}
{{- if .Values.database.postgres.auth.password -}}
  {{- $password = .Values.database.postgres.auth.password -}}
{{- else if and $existingSecret (index $existingSecret.data "password") -}}
  {{- $password = (index $existingSecret.data "password" | b64dec) -}}
{{- else -}}
  {{- $password = (randAlphaNum 16) -}}
{{- end -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "warden.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
data:
  password: {{ $password | b64enc }}
  db-url: {{ printf "postgres://%s:%s@%s-postgresql:%v/%s?sslmode=disable" .Values.database.postgres.auth.username $password $fullName (int .Values.database.postgres.service.port) .Values.database.postgres.auth.database | b64enc }}
{{- end }}
