{{- if not .Values.config.existingConfigMap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "clustercost-agent-k8s.fullname" . }}
  labels:
    {{- include "clustercost-agent-k8s.labels" . | nindent 4 }}
data:
  config.yaml: |
    clusterName: {{ .Values.clusterName | quote }}
    listenAddr: ":8080"
    logLevel: {{ .Values.logLevel | quote }}
    scrapeIntervalSeconds: {{ .Values.scrapeIntervalSeconds }}
    pricing:
      provider: {{ .Values.pricing.provider | quote }}
      region: {{ .Values.pricing.region | quote }}
      cpuHourPrice: {{ .Values.pricing.cpuHourPrice }}
      memoryGibHourPrice: {{ .Values.pricing.memoryGibHourPrice }}
      {{- if .Values.pricing.awsNodePrices }}
      aws:
        nodePrices:
          {{- range $region, $instances := .Values.pricing.awsNodePrices }}
          {{ $region }}:
            {{- range $instance, $price := $instances }}
            {{ $instance }}: {{ $price }}
            {{- end }}
          {{- end }}
      {{- end }}
{{- end }}
