{{- if not .Values.config.existingConfigMap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "clustercost-agent-k8s.fullname" . }}
  labels:
    {{- include "clustercost-agent-k8s.labels" . | nindent 4 }}
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
data:
  config.yaml: |
    clusterName: {{ .Values.clusterName | quote }}
    listenAddr: {{ .Values.listenAddr | quote }}
    logLevel: {{ .Values.logLevel | quote }}
    scrapeIntervalSeconds: {{ .Values.scrapeIntervalSeconds }}
    {{- with .Values.pricing }}
    pricing:
      {{- with .provider }}
      provider: {{ . | quote }}
      {{- end }}
      {{- with .region }}
      region: {{ . | quote }}
      {{- end }}
      {{- with .cpuHourPrice }}
      cpuHourPrice: {{ . }}
      {{- end }}
      {{- with .memoryGibHourPrice }}
      memoryGibHourPrice: {{ . }}
      {{- end }}
      {{- if .awsNodePrices }}
      aws:
        nodePrices:
          {{- range $region, $instances := .awsNodePrices }}
          {{ $region }}:
            {{- range $instance, $price := $instances }}
            {{ $instance }}: {{ $price }}
            {{- end }}
          {{- end }}
      {{- end }}
    {{- end }}
{{- end }}
